<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	<!-- 
		http://www.tutorialspoint.com/hibernate/hibernate_configuration.htm
		https://docs.jboss.org/hibernate/orm/3.3/reference/en-US/html/session-configuration.html
		Database 						Dialect Property
		DB2 							org.hibernate.dialect.DB2Dialect
		HSQLDB 							org.hibernate.dialect.HSQLDialect
		HypersonicSQL 					org.hibernate.dialect.HSQLDialect
		Informix 						org.hibernate.dialect.InformixDialect
		Ingres 							org.hibernate.dialect.IngresDialect
		Interbase 						org.hibernate.dialect.InterbaseDialect
		Microsoft SQL Server 2000 		org.hibernate.dialect.SQLServerDialect
		Microsoft SQL Server 2005 		org.hibernate.dialect.SQLServer2005Dialect
		Microsoft SQL Server 2008 		org.hibernate.dialect.SQLServer2008Dialect
		MySQL 							org.hibernate.dialect.MySQLDialect
		Oracle (any version) 			org.hibernate.dialect.OracleDialect
		Oracle 11g 						org.hibernate.dialect.Oracle10gDialect
		Oracle 10g 						org.hibernate.dialect.Oracle10gDialect
		Oracle 9i 						org.hibernate.dialect.Oracle9iDialect
		PostgreSQL 						org.hibernate.dialect.PostgreSQLDialect
		Progress 						org.hibernate.dialect.ProgressDialect
		SAP DB 							org.hibernate.dialect.SAPDBDialect
		Sybase 							org.hibernate.dialect.SybaseDialect
		Sybase Anywhere 				org.hibernate.dialect.SybaseAnywhereDialect
		H2								org.hibernate.dialect.H2Dialect
	 -->
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		<property name="hibernate.connection.driver_class">org.h2.Driver</property>
<!-- 		<property name="hibernate.default_schema">user</property> -->

		<!-- Assume test is the database name -->
		<!--<property name="hibernate.connection.url">jdbc:h2:mem:test</property>-->
		<property name="hibernate.connection.url">jdbc:h2:tcp://localhost/mem:test</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		
		<!-- JDBC connection pool -->
		<property name="hibernate.connection.pool_size">55</property>
		<property name="hibernate.jdbc.batch_size">30</property>
		<property name="hibernate.connection.autocommit">true</property>
		
<!-- 		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<!--<property name="hibernate.show_sql">true</property>-->
 		<property name="hibernate.format_sql">true</property>
 		<!--<property name="hibernate.use_sql_comments">true</property>-->
		<!-- current_session  ( e.g. jta | thread | managed | custom.Class )-->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- hbm2ddl.auto ( e.g. validate | update | create | create-drop ) -->
		<property name="hbm2ddl.auto">create-drop</property>

		<!-- Infinispan 캐시 공급자 지정 -->
		<property name="hibernate.cache.provider_class">
		org.hibernate.cache.infinispan.InfinispanRegionFactory
		</property>

		<!--List of XML mapping files -->
		<!--<mapping resource="query.hbm.xml" />-->

	</session-factory>
</hibernate-configuration>